# Since the data is from Spain, the information gathered is in Spanish so I translate everything here to make it easier for reviewing.

In [17]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("data_sites_2_clean_2.xlsx")

In [4]:
df.columns

Index(['id', 'name', 'Average_sentiment', 'Google rating',
       'Level of popularity', 'Increase of popularity', 'Cat_detailed',
       'address', 'zipcode', 'lat', 'lng', 'area', 'other_city'],
      dtype='object')

In [5]:
df["Average_sentiment"].value_counts()

Average_sentiment
history_freak    1369
relax            1035
curious          1029
artsy             410
Adventurous       180
Curious            39
Artsy              38
adventurous        36
Relax              23
History_freak       3
Name: count, dtype: int64

In [6]:
sentiment_mapping = {
    "history_freak": 'history_freak',
    "relax": 'relax',
    "curious": 'curious',
    "artsy": 'artsy',
    "Adventurous": 'adventurous',
    "Curious": 'curious',
    "Artsy": 'artsy',
    "adventurous": 'adventurous',
    "Relax": 'relax',    
    "History_freak": 'history_freak',
}

# Use the `replace` function with the value_mapping
df['Average_sentiment'] = df['Average_sentiment'].replace(sentiment_mapping)

In [7]:
df["Average_sentiment"].value_counts()

Average_sentiment
history_freak    1372
curious          1068
relax            1058
artsy             448
adventurous       216
Name: count, dtype: int64

In [8]:
df["Cat_detailed"].value_counts()

Cat_detailed
Edificio histórico        787
Experiencias              395
Religioso                 384
Punto de interés          316
Rutas                     298
Museos                    289
Pueblos                   283
Parques                   268
Edificio contemporáneo    185
Plaza                     166
Centro cultural           158
Galerías de arte          124
Teatros                    68
Escultura                  67
Rutas urbanas              61
Comida                     54
Mirador                    49
Playas                     48
Resto arqueológico         32
Música                     29
Deporte                    26
Otros                      25
Otros ocio                 20
Edificio histórico         20
Edificio                    9
Experiencia                 1
Name: count, dtype: int64

In [13]:
category_mapping = {
    "Edificio histórico": 'historic_building',
    "Edificio histórico ": 'historic_building',
    "Experiencias": 'experience',
    "Experiencia": 'experience',
    "Religioso": 'religious',
    "Punto de interés": 'point_of_interest',
    "Rutas": 'route',
    "Museos": 'museum',
    "Pueblos": 'town',
    "Parques": 'park',
    "Edificio contemporáneo": 'contemporary_building',    
    "Plaza": 'square',
    "Centro cultural": 'cultural_center',
    "Galerías de arte": 'art_gallery',
    "Teatros": 'theater',
    "Escultura": 'sculpture',    
    "Rutas urbanas": 'urban_route',
    "Comida": 'food',
    "Mirador": 'lookout',
    "Playas": 'seaside',
    "Resto arqueológico": 'archaeological_rest',    
    "Música": 'music',
    "Deporte": 'sport',
    "Otros": 'other',
    "Otros ocio": 'other',
    "Edificio histórico": 'historic_building',    
    "Edificio": 'historic_building',
}

# Use the `replace` function with the value_mapping
df['Cat_detailed'] = df['Cat_detailed'].replace(category_mapping)

In [14]:
df["Cat_detailed"].value_counts()

Cat_detailed
historic_building        816
experience               396
religious                384
point_of_interest        316
route                    298
museum                   289
town                     283
park                     268
contemporary_building    185
square                   166
cultural_center          158
art_gallery              124
theater                   68
sculpture                 67
urban_route               61
food                      54
lookout                   49
seaside                   48
other                     45
archaeological_rest       32
music                     29
sport                     26
Name: count, dtype: int64

In [15]:
df.to_excel("data_sites_english.xlsx")