# Here I am deleting any duplicates that might appear while merging all the datasets.

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data_sites_2.xlsx")

In [3]:
df.shape

(5233, 15)

In [4]:
column_name = "name"
df.drop_duplicates(subset=[column_name], keep="first", inplace=True)

In [5]:
df.shape # More than a thousand appeared to be duplicated.

(4163, 15)

In [10]:
df["cat_detailed"].value_counts()

cat_detailed
Edificio histórico        418
Experiencias Top          357
Pueblos                   251
Museos                    237
Etapas                    216
Religioso                 211
Edificio histórico        177
Punto de interés          147
Plaza                     122
Centro cultural           119
Galerías de arte          113
Parques                   105
Edificio contemporáneo     96
Church                     82
Rutas                      81
Park                       68
Teatros                    58
Escultura                  54
Experiencia                41
Resto arqueológico         32
Scenic Lookout             31
Música                     29
Otros                      23
Garden                     22
Destinos                   21
Harbor / Marina            19
Comida                     18
Mirador                    17
Otros ocio                 13
Playas                     13
Historic Site              12
City                        9
Art Gallery                 8
Museum                      8
Cemetery                    8
Sculpture Garden            7
History Museum              7
Edificio                    7
Beach                       6
Shrine                      5
Deporte                     4
Science Museum              4
Theater                     4
Lake                        4
Territorios Históricos      3
Art Museum                  3
Mosque                      2
Castle                      1
Planetarium                 1
Lighthouse                  1
Arts & Entertainment        1
Aquarium                    1
Name: count, dtype: int64

In [6]:
df.to_excel("data_sites_2_clean.xlsx")